body {
    background: #78CEE9;
    border: #00CB4A 5px solid;
    padding: 50px;
    margin: 50px;
    color: white;
    line-height: 30px;
}

header {
    text-align: center;
}

h1 {
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

li {
    display: inline;
}

a {
    color: #4ACC99;
}

li + li {
    border-left: 3px solid gray;
    padding-left: 5px;
}


img {
    float: right;
    width: 300px;
    padding: 20px;
}

span {
    color: white;
}

ul li :first-child {
    text-decoration: none;
}


footer {
    text-align: center;
    
}

